mat-card {
  max-width: 600px;
  max-height: 600px;
  height: 100%;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.mat-card-content {
  padding: 12%;
}

.container {
  height: 100vh;
}
