<div class="container">
  <mat-card>
    <mat-card-content>
      <form>
        <h2>Registrarse</h2>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Nombre" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Apellido" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Contraseña" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Repita su contraseña" required>
        </mat-form-field>
        <button mat-raised-button color="primary">Registrarse</button>
      </form>
    </mat-card-content>

    <mat-card-footer class="mb-3">
      Ya tienes una <a routerLink="/auth/login">cuenta?</a>
    </mat-card-footer>
  </mat-card>

</div>
