<mat-toolbar fxLayout="row" color="primary" class="position-relative mat-elevation-z8">
  <span fxFlex routerLink="/" style="cursor: pointer;">Inicio</span>
  <ng-container *ngFor="let item of menuItems">
    <ng-container  *ngIf="isLogged == item.logged">
      <button mat-button fxHide.xs routerLink="{{item.link}}" *ngIf="isAdmin == item.admin">
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
      </button>
    </ng-container>
  </ng-container>

  <button mat-button fxHide.xs *ngIf="isLogged" (click)="logout()">
    <mat-icon class="mr">logout</mat-icon>
    Cerrar sesion
  </button>
  <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #dropMenu="matMenu">
    <ng-container *ngFor="let item of menuItems">
      <button mat-menu-item>
        <mat-icon class="mr">{{item.icon}}</mat-icon>
        {{item.label}}
      </button>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-menu>
</mat-toolbar>
