<div class="main">
  <div class="position-relative overflow-hidden text-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal shadowText">Birras Meetups</h1>
      <p class="lead fw-normal shadowText">
        Aca vas a poder encontrar Meetups a las cual podes asistir y compartir
        una birrita con los demas
      </p>
    </div>
  </div>
</div>

<div class="container">
  <app-meetups></app-meetups>
</div>
