.main {
  background-color: #673ab7;
  background-repeat: no-repeat;
  color: white;
  background-size: 100% 100%;
  font-size: 3rem;
}

.shadowText {
  text-shadow: -4px 4px 10px black;
}

.title-meetup {
  font-size: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  height: 33rem;
}

